In [6]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

In [7]:
train_data = pd.read_csv("/kaggle/input/spaceship-titanic/train.csv", index_col="PassengerId")
test_data = pd.read_csv("/kaggle/input/spaceship-titanic/test.csv", index_col="PassengerId")
soln = pd.read_csv("/kaggle/input/spaceship-titanic/sample_submission.csv")

print(soln)
print(soln['PassengerId'][1])
print(soln['Transported'][1])
print(soln.iloc[1,1])
print(soln.iloc[1,0])

print(train_data)
print(test_data)
print(train_data.info())
print(test_data.info())
train_data['CryoSleep'] = train_data['CryoSleep'].astype(float)
train_data['VIP'] = train_data['VIP'].astype(float)
train_data['Transported'] = train_data['Transported'].astype(int)
print("-----------------------------------------------------")
print(train_data)

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]
0018_01
False
False
0018_01
            HomePlanet CryoSleep     Cabin    Destination   Age    VIP  \
PassengerId
0001_01         Europa     False     B/0/P    TRAPPIST-1e  39.0  False
0002_01          Earth     False     F/0/S    TRAPPIST-1e  24.0  False
0003_01         Europa     False     A/0/S    TRAPPIST-1e  58.0   True
0003_02         Europa     False     A/0/S    TRAPPIST-1e  33.0  False
0004_01          Earth     False     F/1/S    TRAPPIST-1e  16.0  False
...                ...       ...       ...            ...   ...    ...
9276_01         Europa     False    A/98/P    55 Cancri e  41.0   True
9278_01          Earth      True  G/1499/S  PSO J318.5-22  18.0  False
9279_01          Earth     False  G/1500/S    TRAPPIST-1e  26.0  False
9280_01         Europa     False   E/608/S    55 Cancri e  32.0  False
9280_02         Europa     False   E/608/S    TRAPPIST-1e  44.0  False

             RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  \
PassengerId
0001_01              0.0        0.0           0.0     0.0     0.0
0002_01            109.0        9.0          25.0   549.0    44.0
0003_01             43.0     3576.0           0.0  6715.0    49.0
0003_02              0.0     1283.0         371.0  3329.0   193.0
0004_01            303.0       70.0         151.0   565.0     2.0
...                  ...        ...           ...     ...     ...
9276_01              0.0     6819.0           0.0  1643.0    74.0
9278_01              0.0        0.0           0.0     0.0     0.0
9279_01              0.0        0.0        1872.0     1.0     0.0
9280_01              0.0     1049.0           0.0   353.0  3235.0
9280_02            126.0     4688.0           0.0     0.0    12.0

                          Name  Transported
PassengerId
0001_01        Maham Ofracculy        False
0002_01           Juanna Vines         True
0003_01          Altark Susent        False
0003_02           Solam Susent        False
0004_01      Willy Santantines         True
...                        ...          ...
9276_01      Gravior Noxnuther        False
9278_01        Kurta Mondalley        False
9279_01           Fayey Connon         True
9280_01       Celeon Hontichre        False
9280_02       Propsh Hontichre         True

[8693 rows x 13 columns]
            HomePlanet CryoSleep     Cabin    Destination   Age    VIP  \
PassengerId
0013_01          Earth      True     G/3/S    TRAPPIST-1e  27.0  False
0018_01          Earth     False     F/4/S    TRAPPIST-1e  19.0  False
0019_01         Europa      True     C/0/S    55 Cancri e  31.0  False
0021_01         Europa     False     C/1/S    TRAPPIST-1e  38.0  False
0023_01          Earth     False     F/5/S    TRAPPIST-1e  20.0  False
...                ...       ...       ...            ...   ...    ...
9266_02          Earth      True  G/1496/S    TRAPPIST-1e  34.0  False
9269_01          Earth     False       NaN    TRAPPIST-1e  42.0  False
9271_01           Mars      True   D/296/P    55 Cancri e   NaN  False
9273_01         Europa     False   D/297/P            NaN   NaN  False
9277_01          Earth      True  G/1498/S  PSO J318.5-22  43.0  False

             RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  \
PassengerId
0013_01              0.0        0.0           0.0     0.0     0.0
0018_01              0.0        9.0           0.0  2823.0     0.0
0019_01              0.0        0.0           0.0     0.0     0.0
0021_01              0.0     6652.0           0.0   181.0   585.0
0023_01             10.0        0.0         635.0     0.0     0.0
...                  ...        ...           ...     ...     ...
9266_02              0.0        0.0           0.0     0.0     0.0
9269_01              0.0      847.0          17.0    10.0   144.0
9271_01              0.0        0.0           0.0     0.0     0.0
9273_01              0.0     2680.0           0.0     0.0   523.0
9277_01              0.0        0.0           0.0     0.0     0.0

                         Name
PassengerId
0013_01       Nelly Carsoning
0018_01        Lerome Peckers
0019_01       Sabih Unhearfus
0021_01      Meratz Caltilter
0023_01       Brence Harperez
...                       ...
9266_02           Jeron Peter
9269_01         Matty Scheron
9271_01           Jayrin Pore
9273_01        Kitakan Conale
9277_01      Lilace Leonzaley

[4277 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
Index: 8693 entries, 0001_01 to 9280_02
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    8492 non-null   object
 1   CryoSleep     8476 non-null   object
 2   Cabin         8494 non-null   object
 3   Destination   8511 non-null   object
 4   Age           8514 non-null   float64
 5   VIP           8490 non-null   object
 6   RoomService   8512 non-null   float64
 7   FoodCourt     8510 non-null   float64
 8   ShoppingMall  8485 non-null   float64
 9   Spa           8510 non-null   float64
 10  VRDeck        8505 non-null   float64
 11  Name          8493 non-null   object
 12  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(6)
memory usage: 891.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
Index: 4277 entries, 0013_01 to 9277_01
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   HomePlanet    4190 non-null   object
 1   CryoSleep     4184 non-null   object
 2   Cabin         4177 non-null   object
 3   Destination   4185 non-null   object
 4   Age           4186 non-null   float64
 5   VIP           4184 non-null   object
 6   RoomService   4195 non-null   float64
 7   FoodCourt     4171 non-null   float64
 8   ShoppingMall  4179 non-null   float64
 9   Spa           4176 non-null   float64
 10  VRDeck        4197 non-null   float64
 11  Name          4183 non-null   object
dtypes: float64(6), object(6)
memory usage: 434.4+ KB
None
-----------------------------------------------------
            HomePlanet  CryoSleep     Cabin    Destination   Age  VIP  \
PassengerId
0001_01         Europa        0.0     B/0/P    TRAPPIST-1e  39.0  0.0
0002_01          Earth        0.0     F/0/S    TRAPPIST-1e  24.0  0.0
0003_01         Europa        0.0     A/0/S    TRAPPIST-1e  58.0  1.0
0003_02         Europa        0.0     A/0/S    TRAPPIST-1e  33.0  0.0
0004_01          Earth        0.0     F/1/S    TRAPPIST-1e  16.0  0.0
...                ...        ...       ...            ...   ...  ...
9276_01         Europa        0.0    A/98/P    55 Cancri e  41.0  1.0
9278_01          Earth        1.0  G/1499/S  PSO J318.5-22  18.0  0.0
9279_01          Earth        0.0  G/1500/S    TRAPPIST-1e  26.0  0.0
9280_01         Europa        0.0   E/608/S    55 Cancri e  32.0  0.0
9280_02         Europa        0.0   E/608/S    TRAPPIST-1e  44.0  0.0

             RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  \
PassengerId
0001_01              0.0        0.0           0.0     0.0     0.0
0002_01            109.0        9.0          25.0   549.0    44.0
0003_01             43.0     3576.0           0.0  6715.0    49.0
0003_02              0.0     1283.0         371.0  3329.0   193.0
0004_01            303.0       70.0         151.0   565.0     2.0
...                  ...        ...           ...     ...     ...
9276_01              0.0     6819.0           0.0  1643.0    74.0
9278_01              0.0        0.0           0.0     0.0     0.0
9279_01              0.0        0.0        1872.0     1.0     0.0
9280_01              0.0     1049.0           0.0   353.0  3235.0
9280_02            126.0     4688.0           0.0     0.0    12.0

                          Name  Transported
PassengerId
0001_01        Maham Ofracculy            0
0002_01           Juanna Vines            1
0003_01          Altark Susent            0
0003_02           Solam Susent            0
0004_01      Willy Santantines            1
...                        ...          ...
9276_01      Gravior Noxnuther            0
9278_01        Kurta Mondalley            0
9279_01           Fayey Connon            1
9280_01       Celeon Hontichre            0
9280_02       Propsh Hontichre            1

[8693 rows x 13 columns]

In [8]:
from sklearn.model_selection import train_test_split
train_data.dropna(axis=0, subset=['Transported'], inplace=True)
y = train_data.Transported
train_data.drop(['Transported'], axis=1, inplace=True)
X = train_data
print(X)
print(y)
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)
print(y_valid)

            HomePlanet  CryoSleep     Cabin    Destination   Age  VIP  \
PassengerId
0001_01         Europa        0.0     B/0/P    TRAPPIST-1e  39.0  0.0
0002_01          Earth        0.0     F/0/S    TRAPPIST-1e  24.0  0.0
0003_01         Europa        0.0     A/0/S    TRAPPIST-1e  58.0  1.0
0003_02         Europa        0.0     A/0/S    TRAPPIST-1e  33.0  0.0
0004_01          Earth        0.0     F/1/S    TRAPPIST-1e  16.0  0.0
...                ...        ...       ...            ...   ...  ...
9276_01         Europa        0.0    A/98/P    55 Cancri e  41.0  1.0
9278_01          Earth        1.0  G/1499/S  PSO J318.5-22  18.0  0.0
9279_01          Earth        0.0  G/1500/S    TRAPPIST-1e  26.0  0.0
9280_01         Europa        0.0   E/608/S    55 Cancri e  32.0  0.0
9280_02         Europa        0.0   E/608/S    TRAPPIST-1e  44.0  0.0

             RoomService  FoodCourt  ShoppingMall     Spa  VRDeck  \
PassengerId
0001_01              0.0        0.0           0.0     0.0     0.0
0002_01            109.0        9.0          25.0   549.0    44.0
0003_01             43.0     3576.0           0.0  6715.0    49.0
0003_02              0.0     1283.0         371.0  3329.0   193.0
0004_01            303.0       70.0         151.0   565.0     2.0
...                  ...        ...           ...     ...     ...
9276_01              0.0     6819.0           0.0  1643.0    74.0
9278_01              0.0        0.0           0.0     0.0     0.0
9279_01              0.0        0.0        1872.0     1.0     0.0
9280_01              0.0     1049.0           0.0   353.0  3235.0
9280_02            126.0     4688.0           0.0     0.0    12.0

                          Name
PassengerId
0001_01        Maham Ofracculy
0002_01           Juanna Vines
0003_01          Altark Susent
0003_02           Solam Susent
0004_01      Willy Santantines
...                        ...
9276_01      Gravior Noxnuther
9278_01        Kurta Mondalley
9279_01           Fayey Connon
9280_01       Celeon Hontichre
9280_02       Propsh Hontichre

[8693 rows x 12 columns]
PassengerId
0001_01    0
0002_01    1
0003_01    0
0003_02    0
0004_01    1
          ..
9276_01    0
9278_01    0
9279_01    1
9280_01    0
9280_02    1
Name: Transported, Length: 8693, dtype: int64
PassengerId
3868_05    1
6405_02    1
3021_01    0
7578_01    0
9158_01    1
          ..
0926_02    0
4036_01    0
6398_01    1
0193_02    0
2707_01    1
Name: Transported, Length: 1739, dtype: int64

In [9]:
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

col = [i for i in X_train.columns if X_train[i].dtype == "object"]
print(col)
print([X_train[i].value_counts() for i in col])

encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
imputer = SimpleImputer()

#imputed_X_train = pd.DataFrame(imputer.fit_transform(X_train[col]))
#imputed_X_train.columns = X_train.columns

#print(pd.get_dummies(X_train.HomePlanet))  #Hot one encoding only

encoder_X_train = pd.DataFrame(encoder.fit_transform(X_train[col]))
encoder_X_valid = pd.DataFrame(encoder.transform(X_valid[col]))
encoder_X_test = pd.DataFrame(encoder.transform(test_data[col]))

encoder_X_train.index = X_train.index
encoder_X_valid.index = X_valid.index
encoder_X_test.index = test_data.index
print(encoder_X_train.columns)
print(encoder_X_train)
print("--------------------------------------------------------------------------------------------")
print(encoder_X_valid.columns)
print(encoder_X_valid)
print("-----------------------------------------------------------------------------------")
print(encoder_X_test.columns)
print(encoder_X_test)

['HomePlanet', 'Cabin', 'Destination', 'Name']
[HomePlanet
Earth     3651
Europa    1708
Mars      1439
Name: count, dtype: int64, Cabin
E/13/S      7
F/1411/P    7
B/11/S      7
G/981/S     6
A/67/P      6
           ..
E/287/P     1
F/1270/S    1
G/920/P     1
F/702/P     1
G/474/P     1
Name: count, Length: 5449, dtype: int64, Destination
TRAPPIST-1e      4751
55 Cancri e      1432
PSO J318.5-22     622
Name: count, dtype: int64, Name
Troya Schwardson      2
Cuses Pread           2
Alraium Disivering    2
Keitha Josey          2
Anton Woody           2
                     ..
Joanry Welles         1
All Pittler           1
Natha Llovers         1
Ebonyd Swanardy       1
Cary Mejiaddox        1
Name: count, Length: 6787, dtype: int64]

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

RangeIndex(start=0, stop=12246, step=1)
             0      1      2      3      4      5      6      7      8      \
PassengerId
4558_01        0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
6326_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0503_02        0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
4757_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9046_01        0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...            ...    ...    ...    ...    ...    ...    ...    ...    ...
4655_01        0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
8423_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
5185_01        0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
3499_04        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2930_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

             9      ...  12236  12237  12238  12239  12240  12241  12242  \
PassengerId         ...
4558_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
6326_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0503_02        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4757_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9046_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...            ...  ...    ...    ...    ...    ...    ...    ...    ...
4655_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
8423_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
5185_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3499_04        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2930_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0

             12243  12244  12245
PassengerId
4558_01        0.0    0.0    0.0
6326_01        0.0    0.0    0.0
0503_02        0.0    0.0    0.0
4757_01        0.0    0.0    0.0
9046_01        0.0    0.0    0.0
...            ...    ...    ...
4655_01        0.0    0.0    0.0
8423_01        0.0    0.0    0.0
5185_01        0.0    0.0    0.0
3499_04        0.0    0.0    0.0
2930_01        0.0    0.0    0.0

[6954 rows x 12246 columns]
--------------------------------------------------------------------------------------------
RangeIndex(start=0, stop=12246, step=1)
             0      1      2      3      4      5      6      7      8      \
PassengerId
3868_05        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
6405_02        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3021_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
7578_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9158_01        0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...            ...    ...    ...    ...    ...    ...    ...    ...    ...
0926_02        0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4036_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
6398_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0193_02        0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
2707_01        0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

             9      ...  12236  12237  12238  12239  12240  12241  12242  \
PassengerId         ...
3868_05        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
6405_02        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
3021_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
7578_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9158_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...            ...  ...    ...    ...    ...    ...    ...    ...    ...
0926_02        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
4036_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
6398_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0193_02        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
2707_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0

             12243  12244  12245
PassengerId
3868_05        0.0    0.0    0.0
6405_02        0.0    0.0    0.0
3021_01        0.0    0.0    0.0
7578_01        0.0    0.0    0.0
9158_01        0.0    0.0    0.0
...            ...    ...    ...
0926_02        0.0    0.0    0.0
4036_01        0.0    0.0    0.0
6398_01        0.0    0.0    0.0
0193_02        0.0    0.0    0.0
2707_01        0.0    0.0    0.0

[1739 rows x 12246 columns]
-----------------------------------------------------------------------------------
RangeIndex(start=0, stop=12246, step=1)
             0      1      2      3      4      5      6      7      8      \
PassengerId
0013_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0018_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0019_01        0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0021_01        0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0023_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...            ...    ...    ...    ...    ...    ...    ...    ...    ...
9266_02        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9269_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9271_01        0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
9273_01        0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9277_01        1.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0

             9      ...  12236  12237  12238  12239  12240  12241  12242  \
PassengerId         ...
0013_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0018_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0019_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0021_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
0023_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
...            ...  ...    ...    ...    ...    ...    ...    ...    ...
9266_02        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9269_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9271_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9273_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
9277_01        0.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0

             12243  12244  12245
PassengerId
0013_01        0.0    0.0    0.0
0018_01        0.0    0.0    0.0
0019_01        0.0    0.0    0.0
0021_01        0.0    0.0    0.0
0023_01        0.0    0.0    0.0
...            ...    ...    ...
9266_02        0.0    0.0    0.0
9269_01        0.0    0.0    0.0
9271_01        0.0    0.0    0.0
9273_01        0.0    0.0    0.0
9277_01        0.0    0.0    0.0

[4277 rows x 12246 columns]

In [14]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error

model = XGBRegressor(n_estimators=500, learning_rate = 0.1)
model.fit(encoder_X_train,y_train)
prediction = model.predict(encoder_X_valid)
print(prediction)

perfection = 0
for i in range(len(prediction)):
    if prediction[i]>0.5:
        prediction[i] = 1
        if y_valid[i] == 1:
            perfection += 1
    else:
        prediction[i] = 0
        if y_valid[i] == 0:
            perfection += 1
print(perfection)
print(perfection/(len(prediction)+1))

actual_prediction = model.predict(encoder_X_test)
print(actual_prediction.shape)
print(soln.shape)
print(actual_prediction)
print(soln)

actual_prediction_df = pd.DataFrame(actual_prediction, columns=['Transported'])
print(actual_prediction_df)

perfection_actual = 0
for i in range(len(actual_prediction)):
    if actual_prediction[i]>0.5:
        actual_prediction_df.iloc[i,0] = True
        if soln.iloc[i,1] == True:
            perfection_actual += 1
    else:
        actual_prediction_df.iloc[i,0] = False
        if soln.iloc[i,1] == False:
            perfection_actual += 1
            
print(perfection_actual)
print(perfection_actual/(len(actual_prediction)+1))

dummy = pd.DataFrame(soln.iloc[:,0], columns=['PassengerId'])
original = dummy.join(actual_prediction_df)
print(original)
original.to_csv("submission.csv",index=None)
pd.read_csv("submission.csv")

[0.5007386  0.41674924 0.38726872 ... 0.5007386  0.6336531  0.6613698 ]
1017
0.5844827586206897
(4277,)
(4277, 2)
[0.38726872 0.38726872 0.7352056  ... 0.61252856 0.7109765  0.49646372]
     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]
      Transported
0        0.387269
1        0.387269
2        0.735206
3        0.661370
4        0.387269
...           ...
4272     0.387269
4273     0.387269
4274     0.612529
4275     0.710976
4276     0.496464

[4277 rows x 1 columns]
2831
0.6617578307620383
     PassengerId Transported
0        0013_01       False
1        0018_01       False
2        0019_01        True
3        0021_01        True
4        0023_01       False
...          ...         ...
4272     9266_02       False
4273     9269_01       False
4274     9271_01        True
4275     9273_01        True
4276     9277_01       False

[4277 rows x 2 columns]

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01        False

[4277 rows x 2 columns]

In [11]:
!wget kaggle competitions download -c spaceship-titanic

--2023-12-04 18:07:17--  http://kaggle/
Resolving kaggle (kaggle)... failed: Name or service not known.
wget: unable to resolve host address ‘kaggle’
--2023-12-04 18:07:17--  http://competitions/
Resolving competitions (competitions)... failed: Name or service not known.
wget: unable to resolve host address ‘competitions’
--2023-12-04 18:07:17--  http://download/
Resolving download (download)... failed: No address associated with hostname.
wget: unable to resolve host address ‘download’
--2023-12-04 18:07:17--  http://spaceship-titanic/
Resolving spaceship-titanic (spaceship-titanic)... failed: Name or service not known.
wget: unable to resolve host address ‘spaceship-titanic’